<h1>Projects#show</h1>

<% if @project.url.nil? %>
  <h2><%= @project.name %></h2>
<% else %>
  <h2><%= link_to @project.name, @project.url%></h2>
<% end %>

<p><%= @project.description %></p>

<p>tickets</p>
<ul>
  <% @tickets.each do |ticket|%>
  <li>
    <%= link_to ticket.description, ticket_path(ticket) %>
  </li>
  <% end %>
</ul>

<p>create a new ticket</p>
<%= simple_form_for [@project, @ticket] do |f| %>
  <%= f.input :description %>
  <%= f.input :statut %>
  <%= f.input :priority %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
